# IDE Files
#-------------------------
/nbproject/
.idea/*
vendor

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# Ignore all files in config that have two extensions like .staging.php
config/*.*.php
.DS_Store